NEYNAR_API_KEY="key" # Get API Key -> https://neynar.com/.
NEXT_PUBLIC_NEYNAR_CLIENT_ID="" # Get Client ID -> Neynar Developer Portal -> https://dev.neynar.com
CHANNEL_ID=""
NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>